<div class="p-3">
    <h4 class="font-italic">Archives</h4>
    <ol class="list-unstyled mb-0">
        <li><a href="index.html#">January 2022</a></li>
        <li><a href="index.html#">February 2022</a></li>
        <li><a href="index.html#">March 2022</a></li>
        <li><a href="index.html#">April 2022</a></li>
        <li><a href="index.html#">May 2022</a></li>
        <li><a href="index.html#">June 2022</a></li>
        <li><a href="index.html#">July 2022</a></li>
        <li><a href="index.html#">August 2022</a></li>
        <li><a href="index.html#">September 2022</a></li>
        <li><a href="index.html#">October 2022</a></li>
        <li><a href="index.html#">November 2022</a></li>
        <li><a href="index.html#">December 2022</a></li>
    </ol>
</div>
