

<p class="text-center">
    <a href="javascript:window.scrollTo(0,0);">Back to top</a>
</p>

<footer class="blog-footer text-center">
    <div class="row">
        <div class="col-xs-12 col-sm-12 ">
            <div class="footer__block">
                <a target="" href="homepage.html#" aria-label="PwC office locations">HomePage</a></t>
                <a target="" href="blogs.html#" aria-label="PwC office locations">Blogs</a>
            </div>
        </div>
    </div>
    <p>© 2022  - 2023 TTN Bootcamp. All rights reserved.</p>
</footer>